# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [1]:
# your code here
# inspecting
import pandas as pd
import numpy as np

ttt = pd.read_csv('tic-tac-toe.csv')
ttt.head()

  TL TM TR ML MM MR BL BM BR  class
0  x  x  x  x  o  o  x  o  o   True
1  x  x  x  x  o  o  o  x  o   True
2  x  x  x  x  o  o  o  o  x   True
3  x  x  x  x  o  o  o  b  b   True
4  x  x  x  x  o  o  b  o  b   True

In [7]:
ttt['class'].value_counts()

True     626
False    332
Name: class, dtype: int64

In [5]:
print(ttt.shape)
ttt.dtypes

(958, 10)

TL       object
TM       object
TR       object
ML       object
MM       object
MR       object
BL       object
BM       object
BR       object
class      bool
dtype: object

In [8]:
ttt.columns

Index(['TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL', 'BM', 'BR', 'class'], dtype='object')

In [15]:
# Convert the categorical values to numeric in all columns (except class --> boolean)

ttt_num = pd.get_dummies(ttt[[
    'TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL', 'BM', 'BR']], drop_first=True, prefix=[
    'TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL', 'BM', 'BR'])

In [16]:
ttt_num.head()

,TL_o,TL_x,TM_o,TM_x,TR_o,TR_x,ML_o,ML_x,MM_o,MM_x,MR_o,MR_x,BL_o,BL_x,BM_o,BM_x,BR_o,BR_x
0,0,1,0,1,0,1,0,1,1,0,1,0,0,1,1,0,1,0
1,0,1,0,1,0,1,0,1,1,0,1,0,1,0,0,1,1,0
2,0,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,0,1
3,0,1,0,1,0,1,0,1,1,0,1,0,1,0,0,0,0,0
4,0,1,0,1,0,1,0,1,1,0,1,0,0,0,1,0,0,0

In [17]:
# adding class column to the dummiefied df

ttt_num['class'] = ttt['class']
ttt_num.head()

,TL_o,TL_x,TM_o,TM_x,TR_o,TR_x,ML_o,ML_x,MM_o,MM_x,MR_o,MR_x,BL_o,BL_x,BM_o,BM_x,BR_o,BR_x,class
0,0,1,0,1,0,1,0,1,1,0,1,0,0,1,1,0,1,0,True
1,0,1,0,1,0,1,0,1,1,0,1,0,1,0,0,1,1,0,True
2,0,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,0,1,True
3,0,1,0,1,0,1,0,1,1,0,1,0,1,0,0,0,0,0,True
4,0,1,0,1,0,1,0,1,1,0,1,0,0,0,1,0,0,0,True

In [26]:
print(ttt_num['BR_o'].value_counts())
ttt_num['BR_x'].value_counts()

0    623
1    335
Name: BR_o, dtype: int64

0    540
1    418
Name: BR_x, dtype: int64

In [23]:
# Separate the inputs and output

# input
X = ttt_num.loc[:, ttt_num.columns != 'class']

# output
y = ttt_num['class']

In [29]:
X.columns

Index(['TL_o', 'TL_x', 'TM_o', 'TM_x', 'TR_o', 'TR_x', 'ML_o', 'ML_x', 'MM_o',
       'MM_x', 'MR_o', 'MR_x', 'BL_o', 'BL_x', 'BM_o', 'BM_x', 'BR_o', 'BR_x'],
      dtype='object')

In [30]:
# Normalize the input data

from sklearn import preprocessing

columns = [['TL_o', 'TL_x', 'TM_o', 'TM_x', 'TR_o', 'TR_x', 'ML_o', 'ML_x', 'MM_o',
       'MM_x', 'MR_o', 'MR_x', 'BL_o', 'BL_x', 'BM_o', 'BM_x', 'BR_o', 'BR_x']]
norm = preprocessing.normalize(X)
X_norm = pd.DataFrame(norm, columns=columns)
X_norm.head()

,TL_o,TL_x,TM_o,TM_x,TR_o,TR_x,ML_o,ML_x,MM_o,MM_x,MR_o,MR_x,BL_o,BL_x,BM_o,BM_x,BR_o,BR_x
0,0.0,0.333333,0.0,0.333333,0.0,0.333333,0.0,0.333333,0.333333,0.0,0.333333,0.0,0.000000,0.333333,0.333333,0.000000,0.333333,0.000000
1,0.0,0.333333,0.0,0.333333,0.0,0.333333,0.0,0.333333,0.333333,0.0,0.333333,0.0,0.333333,0.000000,0.000000,0.333333,0.333333,0.000000
2,0.0,0.333333,0.0,0.333333,0.0,0.333333,0.0,0.333333,0.333333,0.0,0.333333,0.0,0.333333,0.000000,0.333333,0.000000,0.000000,0.333333
3,0.0,0.377964,0.0,0.377964,0.0,0.377964,0.0,0.377964,0.377964,0.0,0.377964,0.0,0.377964,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.0,0.377964,0.0,0.377964,0.0,0.377964,0.0,0.377964,0.377964,0.0,0.377964,0.0,0.000000,0.000000,0.377964,0.000000,0.000000,0.000000

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [35]:
# your code here
from sklearn.model_selection import train_test_split
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical

In [37]:
# Split the training and test data
X_norm_train, X_norm_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.20, random_state = 1)

In [79]:
# create model

model = Sequential([ 
  Dense(5, activation='relu', input_shape=(32,18)),
  Dense(5, activation='relu'),
  Dense(2, activation='softmax'),
])

In [80]:
# compile the mode

model.compile(
  optimizer='adam',
  loss='sparse_categorical_crossentropy',
  metrics=['accuracy'],
)

In [90]:
# train model

model.fit(X_norm_train, y_train, epochs=30)

Epoch 1/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0525 - accuracy: 0.9817
Epoch 2/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0529 - accuracy: 0.9817
Epoch 3/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0518 - accuracy: 0.9817
Epoch 4/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0525 - accuracy: 0.9817
Epoch 5/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0528 - accuracy: 0.9817
Epoch 6/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0517 - accuracy: 0.9817
Epoch 7/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0522 - accuracy: 0.9817
Epoch 8/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0516 - accuracy: 0.9830
Epoch 9/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0512 - accuracy: 0.9817
Epoch 10/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0501 - accuracy: 0.9817
Epoch 11/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0518 - accuracy: 0.9843
Epoch 12/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0512 - accuracy: 0.9817
Epoch 13/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0534 - accuracy: 0.9791
Epoch 14/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0521 - accuracy: 0.9817
Epoch 15/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0509 - accuracy: 0.9817
Epoch 16/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0494 - accuracy: 0.9817
Epoch 17/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0518 - accuracy: 0.9804
Epoch 18/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0485 - accuracy: 0.9817
Epoch 19/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0483 - accuracy: 0.9817
Epoch 20/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0479 - accuracy: 0.9830
Epoch 21/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0511 - accuracy: 0.9804
Epoch 22/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0492 - accuracy: 0.9817
Epoch 23/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0489 - accuracy: 0.9830
Epoch 24/30
24/24 [==============================] - 0s 2ms/step - loss: 0.0472 - accuracy: 0.9804
Epoch 25/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0472 - accuracy: 0.9817
Epoch 26/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0466 - accuracy: 0.9804
Epoch 27/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0470 - accuracy: 0.9817
Epoch 28/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0462 - accuracy: 0.9804
Epoch 29/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0469 - accuracy: 0.9830
Epoch 30/30
24/24 [==============================] - 0s 1ms/step - loss: 0.0509 - accuracy: 0.9830

In [91]:
# evaluate the model
model.evaluate(X_norm_test,y_test)

6/6 [==============================] - 0s 1ms/step - loss: 0.0484 - accuracy: 0.9896

[0.04841730371117592, 0.9895833134651184]

In [59]:
# check summary
model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 20, 5)             95
_________________________________________________________________
dense_16 (Dense)             (None, 20, 5)             30
_________________________________________________________________
dense_17 (Dense)             (None, 20, 2)             12
=================================================================
Total params: 137
Trainable params: 137
Non-trainable params: 0
_________________________________________________________________

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [92]:
# your code here
predictions = model.predict(X_norm_test[:5])
print(np.argmax(predictions, axis=1))

WARNING:tensorflow:Model was constructed with shape (None, 32, 18) for input KerasTensor(type_spec=TensorSpec(shape=(None, 32, 18), dtype=tf.float32, name='dense_30_input'), name='dense_30_input', description="created by layer 'dense_30_input'"), but it was called on an input with incompatible shape (None, 18).
[1 0 1 1 1]

In [94]:
y_test.head()

241     True
849    False
436     True
386     True
345     True
Name: class, dtype: bool

In [ ]:
# the pedictions are accurate

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [ ]:
# your code here
# my model scored 
    # --> loss: 0.0484
    # --> accuracy: 0.9896

**Which approach(es) did you find helpful to improve your model performance?**

In [ ]:
# your answer here